<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.notice.service.NoticeMapper">
	<select id="noticeSelectList"
		resultType="com.yedam.notice.service.NoticeVO">
		SELECT *FROM NOTICE
	</select>
	<select id="noticeSelect"
		parameterType="com.yedam.notice.service.NoticeVO"
		resultType="com.yedam.notice.service.NoticeVO">
		SELECT*FROM NOTICE WHERE NOTICE_ID = #{noticeId}
	</select>
	<insert id="noticeInsert"
		parameterType="com.yedam.notice.service.NoticeVO">
		INSERT INTO NOTICE VALUES(#{noticeId}, #{noticeWriter},
		#{noticeTitle}, #{noticeSubject}, #{noticeWdate}, #{noticeHit} )
	</insert>

	<update id="noticeUpdate">

	</update>

	<delete id="noticeDelete">
		DELETE FROM NOTICE WHERE NOTICE_ID = #{noticeId}
	</delete>
</mapper>